@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 800px;
    margin: auto;
    background-color: lightgrey;
}

header {
    display: grid;
    grid-template-columns: 200px 580px;
    gap: 20px;
}

header img {
    border-radius: 75px;
}

div {
    display: block;
    
    border-radius: 5px;
}

div:hover {
    box-shadow: 3px 3px 8px black;
    background-color: white;
    transition-duration: .5s;
}

section {
    margin-top: 20px;
}

/* class e id */

#perfil {
    display: block;
    text-align: center;
}

#nome {
    display: block;
    text-align: right;
}

#objetivos {
    margin: 5px 15px 10px 25px;
}

.content {
    padding: 5px 10px;
}

.grid {
    display: grid;
    grid-template-columns: 200px 580px;
    gap: 20px;
}

.redes {
    padding: 10px;
}

.ano {
    font-size: 12px;
    margin: 0px;
    color: rgb(68, 68, 68);
}

.local {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0px;
}

.atividades {
    font-size: 12px;
    margin: 0px;
    color: rgb(68, 68, 68);
}

/* estilos dos textos gerais */

h1 {
    max-width: 400px;
    margin: 10px 15px 10px auto;
    font-size: 64px;
}

header p {
    max-width: 340px;
    margin: 10px 15px 10px auto;
    font-size: 16px;
    text-align: right;
}

h2 {
    margin: 5px auto 5px 25px;
    font-size: 20px;
}

p {
    margin: 10px 10px 10px 25px;
    text-align: justify;
    font-size: 16px;
}

ul {
    padding: 0px;
    margin: 15px 0px 15px 15px;
}
li {
    margin: 10px;
    padding: 0px;
    text-align: justify;
    font-size: 16px;
}

div > a {
    text-decoration: none;
    color: black;
    vertical-align: auto;
}

div > a:hover {
    text-decoration: underline;
}

hr {
    max-width: 600px;
    margin: 5px;
    border-color: rgba(0, 0, 0, 0.411);
}